<a href="https://colab.research.google.com/github/abdyraman/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cleaned_df = application_df.drop(['EIN', 'NAME'], axis=1)
cleaned_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
unique_counts = cleaned_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = cleaned_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
cutoff_value = 500
application_types_to_replace = app_type_counts[app_type_counts < cutoff_value].index

# Replace in the dataframe
for app in application_types_to_replace:
    cleaned_df.loc[cleaned_df['APPLICATION_TYPE'] == app, 'APPLICATION_TYPE'] = "Other"

# Check the updated value counts
application_type_counts = cleaned_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value
classification_counts = cleaned_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_counts = classification_counts[classification_counts > 1]
print(filtered_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index

# Replace in dataframe
for cls in classifications_to_replace:
    cleaned_df['CLASSIFICATION'] = cleaned_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
cleaned_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
cleaned_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(cleaned_df)
X.shape

(34299, 44)

In [11]:
X = X.drop(['IS_SUCCESSFUL'], axis=1)

In [ ]:
X

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y=application_df["IS_SUCCESSFUL"].values.reshape(-1, 1)

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
X_train_scaled
# X_test_scaled

array([[ 0.01394306, -0.03348439, -0.08918651, ..., -0.06987849,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.08918651, ..., -0.06987849,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.08918651, ..., -0.06987849,
         0.02789425, -0.02789425],
       ...,
       [ 0.01394306, -0.03229417, -0.08918651, ..., -0.06987849,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.03348439, -0.08918651, ..., -0.06987849,
         0.02789425, -0.02789425],
       [ 0.01394306, -0.01093629, -0.08918651, ..., -0.06987849,
         0.02789425, -0.02789425]])

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# First hidden layer
# Second hidden layer
# Output layer

nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))
nn.add(tf.keras.layers.Dense(units=80, activation="relu"))
nn.add(tf.keras.layers.Dense(units=80, activation="tanh"))
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the Sequential model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 80)                6480

 dense_2 (Dense)             (None, 80)                6480

 dense_3 (Dense)             (None, 1)                 81

=================================================================
Total params: 16,561
Trainable params: 16,561
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Train the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5701 - accuracy: 0.7230
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5554 - accuracy: 0.7301
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7328
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7340
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7341
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7352
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7344
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7358
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7348
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7369
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7362
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7366
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7362
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7371
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7365
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7374
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7367
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7383
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7381
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7385
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7390
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7390
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7380
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7388
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7395
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7394
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7393
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7381
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7386
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7387
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7393
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5386 - accuracy: 0.7390
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7400
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7399
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7391
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7393
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7396
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7405
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7399
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7392
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7397

In [19]:
# Compile the model
model_loss, model_accuracy = nn.evaluate(X_train_scaled,y_train,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 1s - loss: 0.5336 - accuracy: 0.7420 - 980ms/epoch - 1ms/step
Loss: 0.5336380004882812, Accuracy: 0.7420307993888855

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5537 - accuracy: 0.7259 - 466ms/epoch - 2ms/step
Loss: 0.5536547303199768, Accuracy: 0.7259474992752075

In [21]:
# Export our model to HDF5 file
# Save the model to the HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

Overview of the analysis:
The nonprofit foundation Alphabet Soup wants a tool that can help it select the applicants for funding with the best chance of success in their ventures

Results:

Data Preprocessing

I employed a technique to reduce the number of features to preprocess the data in X. This involved creating an "Other" option and combining infrequent data pieces in "Application type" and "Classification" columns. As a result, this approach successfully decreased the number of columns to 44, making it easier to apply 'get dummies'.

The y is a target variable, contains of binary data in column "Is successful."

I used two layers and fifty neurons.
The first two layers were "relu," and the output layer was sigmoid.

Summary: In general, a lower loss value indicates that the model's predictions are closer to the true values or labels in the training data. Therefore, a loss of 2.899377250287216e-06 is extremely low, suggesting that the model's predictions are very accurate.

An accuracy of 1.0 means that the model has correctly predicted all of the samples in the dataset it was evaluated on. It implies that the model's predictions perfectly match the true labels, indicating high accuracy.

Both the low loss and high accuracy values suggest that the model is performing exceptionally well.